<!doctype html>
<html lang="en">
	<head>
		%%head%%
	</head>
	<body>
		<main>
			<img src="/bubble.png" alt="" class="logo" width="62" height="60">
			<h1>MIAQ</h1>
			<p class="lead">Make It a Quote, but free.</p>
			<p>Add it to your account to use it anywhere, or to a server so everyone there can.</p>
			<div class="btns">
				<a href="%%user%%" class="btn btn-p">Add to my apps</a>
				<a href="%%guild%%" class="btn btn-g">Add to server</a>
			</div>
		</main>
		<footer><a href="https://github.com/sioworkers/make-it-a-quote">Source</a></footer>
	</body>
</html>
